* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html,body { height: 100%; }
body { margin: 0 auto; line-height: 1.7em; padding-top: 90px; }
#wrap { min-height: 100%; height: auto; margin: 0 auto -60px; padding: 0 0 60px; }
.navbar-brand { font-family: 'Radley', serif; font-size: 20px; color: #428bca !important; padding-left: 0px;  padding-bottom: 5px; padding-top: 10px; }
.nav>li { margin-top: 5px; height: 65px; }
.navbar-nav { height: 60px; }
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {  padding-top: 20px; padding-bottom: 20px; }
.nav>li.active { margin-top: 0px; }
.container-footer { padding: 0 15px; }
.container-footer .credit { margin: 20px 0; }
.btn-logout { margin-left: 10px; margin-right: 10px; }
.test-input-success { background: #edf8da !important; border: 1px solid #c2d799 !important; color: #5d9400 !important; }
.test-input-fail { background: #ffecec !important; border: 1px solid #ffa8a8 !important; }
.test-input-warning { background: #fcf8e3 !important; border: 1px solid #faebcc !important; color: #8a6d3b !important; }
.alert-success { background: #edf8da !important; border: 1px solid #c2d799 !important; color: #5d9400 !important;}
.alert-danger { background: #ffecec !important; border: 1px solid #ffa8a8 !important; }
.newword-left { padding-right: 5px !important; }
.newword-right { padding-left: 5px !important; }
#footer { height: 60px; background-color: #f5f5f5; }
#spinner { height: 200px; }
.offline-ui { margin-top: 40px; }
#test h1 { font-family: 'Radley', serif; }
#test h4 { font-family: 'Radley', serif; }
#test-header-giveup { margin-bottom: 5px; }
#test-header-steps { text-align: right; margin-top: 5px; }
#test-main-row { margin-top: 30px; }
.navbar-test {background-color: white; border-color: white; margin-top: -70px;}
.glyphicon-profile {  margin-bottom: 10px;margin-right: 10px;}
small {display: block;line-height: 1.428571429;color: #999;}
.navbar-default .navbar-text { margin-top: 20px; }
#profile-types { list-style-type: none; padding-left: 0px;}
.profile-type-icon { font-size: 17px; }
.fa-facebook-square { color: #43609C; }
.fa-twitter-square { color: #00BBF5; }
.fa-google-plus-square { color: #DA5534; }
.profile-link { margin-left: 5px; }
.alert { padding-top: 15px; }
.btn-submit-answer { margin-top: -5px; }
.btn-submit-answer:focus{ outline:none; }
#new-word-form { margin-top: 30px; }
.js-end-test { color: #428bca; }

@media (max-width: 767px) {
    .navbar-nav { height: 100%; }
    .nav>li { margin-top: 0px; height: 100%; }
    .navbar-text { float:left; margin-left: 15px; }
    .btn-logout { float: right; }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form { border: 0px; border-bottom: 1px solid #A8A8A8; }
    .navbar-default .navbar-brand { padding-left: 10px; }
    .col-xs-4 { width: 50%; }
    .btn-primary { width: 100%; }
}

@media (max-width: 800px) {
    .words-list table,.words-list thead,.words-list tbody,.words-list th,.words-list td,.words-list tr { display: block;}
    .words-list thead tr { position: absolute; top: -9999px; left: -9999px; }
    .words-list tr { border: 1px solid #ccc; }
    .words-list td { border: none; border: 1px solid black; position: relative; padding-left: 50% !important; white-space: normal; text-align:left; }
    .words-list td:before { position: absolute; top: 6px; left: 6px; width: 45%; padding-right: 10px; white-space: nowrap; text-align:left; font-weight: bold; }
    .words-list td:before { content: attr(data-title); }
}
