.jumbotron {
    position: relative;
    font-size: 16px;
    color: #fff;
    color: rgba(255,255,255,0.75);
    text-align: center;
    background-image: url(../images/homepage-bg.png);
    background-position: top center;

    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 0;
}

.jumbotron h1 {
    margin-bottom: 15px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #fff;
}

.jumbotron p a, .jumbotron-links a {
    font-weight: 500;
    color: #fff;
}

.btn-outline {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 18px 24px;
    font-size: inherit;
    font-weight: 500;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-color: rgba(255,255,255,0.5);
    transition: all .1s ease-in-out;
}

.btn-outline:hover, .btn-outline:active {
    color: #6c71c4;
    background-color: #fff;
    border-color: #fff;
}

.jumbotron-links {
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size: 14px;
}

.jumbotron-links li {
    display: inline;
}

.jumbotron-links li+li {
    margin-left: 20px;
}

.login-buttons {
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size: 14px;
    display: none;
}

.login-buttons li {
    display: inline;
}

.login-buttons li+li {
    margin-left: 20px;
}

.feature-divider {
    margin: 50px 0;
}

.features {
    padding-left: 15px;
    padding-right: 15px;
}

.features h2 {
    font-weight: normal;
}

.feature-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.feature-second {
    margin-top: 90px !important;
}

footer {
    text-align: center;
}

@media (max-width: 400px) {
    #version {
        display: none;
    }
}

@media (max-width: 720) {
    .login-buttons li {
        display: block;
    }

    .login-buttons li {
        margin-top: 20px;
    }
}

@media (min-width: 768px) {
    .features {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 992px) {
    .feature-heading {
        margin-top: 120px;
    }
}
@media (min-width: 768px) {
    .feature-heading {
        font-size: 50px;
    }
}
