@import url(http://fonts.googleapis.com/css?family=Montserrat|Roboto);

* {
    margin: 0px;
    padding: 0px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Montserrat', sans-serif;
}

.centered {
    text-align: center;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar, .jumbotron {
    background: -webkit-linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%);
    background:    -moz-linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%);
    background:     -ms-linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%);
    background:      -o-linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%);
    background:         linear-gradient(90deg, #B993D6 10%, #8CA6DB 90%);
}

.navbar {
    height: 65px;
    padding-top: 7px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #FFF;
}

.navbar-default .navbar-nav > .active > a {
    background-color: #C0CCF0;
}

.jumbotron {
    color: white;
    font-family: arial;
    border-radius: 0px !important;
    padding-bottom: 80px;
    padding-top: 80px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}

.jumbotron h1 {
    font-size: 48px;
    text-align: center;
}

.jumbotron .btn {
    margin-top: 30px;
    padding: 12px;
    border: 1px solid #fff;
    margin-top: 30px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 10px 46px 10px 66px;
    -webkit-transition: background ease-out 500ms;
    -moz-transition: background ease-out 500ms;
    -o-transition: background ease-out 500ms;
    transition: background ease-out 500ms;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    position: relative;
}

.jumbotron .btn-signin {
    color: #fff;
}

.jumbotron .btn-signin:hover {
    background: #fff;
    color: #0489c3;
    -webkit-transition: background ease-out 500ms;
    -moz-transition: background ease-out 500ms;
    -o-transition: background ease-out 500ms;
    transition: background ease-out 500ms;
}

.btn-social i {
    margin-top: 5px;
}

.login-buttons {
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size: 14px;
    display: none;
}

.login-buttons li {
    display: inline;
}

.login-buttons li+li {
    margin-left: 20px;
}


.container-full {
    width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 70px;
}

.contrast {
    background: #ededed;
    padding-top: 20px;
    padding-bottom: 20px;
}

.row-intro {
    padding-left: 40px;
}

.container-full h1, .intro {
    text-align: center;
}

.intro-feature-description {
    color: #303030;
    font-size: 18px;
    margin-top: 15px;
}

.feature-heading {
    color: #0075be;
}

.img-center {
    margin:0 auto;
}

.h-arrow {
    margin-top: 70px;
}

.features-hr {
    border-top: 1px solid #AFAFAF;
}

.row-feature-first {
    margin-top: 30px;
}

.row-feature {
    margin-top: 80px;
}

.feature-description {
    font-size: 16px;
    color: #1B1B1B;
}

.container-bottom {
    padding-top: 30px;
    margin-top: 30px;
}

/* Set the fixed height of the footer here */
      #push {
        height: 30px;
      }
      #footer {
        padding-top: 20px;
        height: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
