.jumbotron {
    position: relative;
    font-size: 16px;
    color: #fff;
    color: rgba(255,255,255,0.75);
    text-align: center;
    background-color: #6c71c4;
    border-radius: 0;
}

.jumbotron h1 {
    margin-bottom: 15px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #fff;
}

.jumbotron p a, .jumbotron-links a {
    font-weight: 500;
    color: #fff;
}

.btn-outline {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 18px 24px;
    font-size: inherit;
    font-weight: 500;
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    border-color: rgba(255,255,255,0.5);
    transition: all .1s ease-in-out;
}

.btn-outline:hover, .btn-outline:active {
    color: #6c71c4;
    background-color: #fff;
    border-color: #fff;
}

.jumbotron-links {
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size: 14px;
}

.jumbotron-links li {
    display: inline;
}

.jumbotron-links li+li {
    margin-left: 20px;
}
