* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot');
    src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf') format('truetype'),
        url('fonts/icomoon.woff') format('woff'),
        url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class*="icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-remove:before {
    content: "\e600";
}
.icon-remove2:before {
    content: "\e601";
}
.icon-cancel-circle:before {
    content: "\e602";
}
.icon-pencil:before {
    content: "\e603";
}
.icon-pencil2:before {
    content: "\e604";
}
.icon-eye:before {
    content: "\e605";
}

body {
    margin: 0 auto;
    line-height: 1.7em;
}

.l-box {
    padding: 1em;
}

.header {
    margin: 0 0;
}

.header .pure-menu {
    padding: 0.5em;
}

.header .pure-menu li a:hover,
.header .pure-menu li a:focus {
    background: none;
    border: none;
    color: #aaa;
}

#nav {
    background: rgb(37, 42, 58);
    color: white;
}

.pure-menu {
    border: 0px !important;
}

.pure-menu-heading {
    color: white !important;
    font-family: 'Radley', serif;
    font-weight: 400;
    font-size: 20px !important;
}

.pure-menu a,
.pure-menu .pure-menu-can-have-children > li:after {
    color: white;
}

.pure-menu .pure-menu-selected a {
    color: white;
    background: #02a6eb;
}

.pure-menu.pure-menu-horizontal > .pure-menu-heading {
    display: inline-block;
    zoom: 1;
    margin: 0;
    vertical-align: middle;
    margin-right: 20px;
}

.pure-menu.pure-menu-horizontal>ul {
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    height: 2.4em;
}

body .primary-button {
    background: #02a6eb;
    color: #fff;
}

.splash {
    margin: 2em auto 0;
    padding: 3em 0.5em;
    background: #eee;
}
.splash .splash-head {
    font-size: 300%;
    margin: 0em 0;
    line-height: 1.2em;
}
.splash .splash-subhead {
    color: #999;
    font-weight: 300;
    line-height: 1.4em;
}
.splash .primary-button {
    font-size: 150%;
}

.content .content-subhead {
    color: #999;
    padding-bottom: 0.3em;
    text-transform: uppercase;
    margin: 0;
    border-bottom: 2px solid #eee;
    display: inline-block;
}

.content .content-ribbon {
    margin: 3em;
    border-bottom: 1px solid #eee;
}

.ribbon {
    background: #eee;
    text-align: center;
    padding: 2em;
    color: #999;
}
.ribbon h2 {
    display: inline;
    font-weight: normal;
}

.footer {
    background: #111;
    color: #666;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}

.pure-button-success,
.pure-button-error,
.pure-button-warning,
.pure-button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.pure-button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.pure-button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.pure-button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.pure-button-small {
    font-size: 70%;
}

.pure-table tr {
    border-bottom: 1px solid #e0e0e0;
}
