node_modules
dist
deploy
deploy.sh
test/temp
app/bower_components
.tmp
test/bower_components/
*.py[cod]
newrelic.ini
npm-debug.log
*.sublime-project
*.sublime-workspace
.DS_Store
build
parts
bin
var
lib
lib64
.idea
__pycache__
venv
*~