<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>words</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link href='http://fonts.googleapis.com/css?family=Radley&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <!-- build:css(.tmp) styles/app.css -->
        <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="styles/jquery-ui-theme.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
        <!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="wrap">
            <div class="container">

                <div class="header">
                    <nav class="navbar-wrapper navbar-default navbar-fixed-top" role="navigation">
                        <div class="container">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                  <span class="sr-only">Toggle navigation</span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">Words</a>
                              </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a href="#home">Home</a></li>
                                    <li><a href="#test">Test</a></li>
                                    <li class="active"><a href="#words">Words</a></li>
                                    <li><a href="#settings">Settings</a></li>
                                </ul>
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Samuel Matis <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Profile</a></li>
                                            <li><a href="#">Settings</a></li>
                                        </ul>
                                    </li>
                                    <li><button type="button" class="btn btn-default navbar-btn btn-logout">Log out</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>

                <div id="words"></div>
            </div>

        </div>


        <div id="footer">
          <div class="container container-footer">
            <p class="credit">Made by <a href="http://matiss.sk">Samuel Matis</a> and <a href="http://parada.sk">Peter Parada</a>.</p>
          </div>
        </div>

        <div id="dialog-region"></div>

        <!-- Common templates -->
        <script type="text/template" id="loading-view">
            <h2><%= title %></h2>
            <h3><%= message %></h3>
            <div id="spinner"></div>
        </script>

        <!-- Words page templates -->
        <script type="text/template" id="words-list-layout">
            <div class="row">
                <div class="col-md-6" id="list-words"></div>
                <div class="col-md-6" id="add-new-word"></div>
            </div>
        </script>

        <script type="text/template" id="word-list">
            <h4 class="content-subhead">Your words</h4>

            <form class="form-search" role="search">
                <div class="input-group">
                    <input type="text" class="form-control js-filter-criterion" placeholder="Search">
                    <div class="input-group-btn">
                        <button class="btn btn-default js-filter" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>

            <p id="words-list">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Word</th>
                            <th>Translation</th>
                            <th>Strength</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </p>
        </script>


        <script type="text/template" id="word-list-item">
            <td><%= word %></td>
            <td><%= translation %></td>
            <td>
                <% for(var i=0; i < strength; i++){ %>
                    <span class="glyphicon glyphicon-star"></span>
                <% } %>
            </td>
            <td>
                <a href="#words/<%= id %>/edit" class="js-edit btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </a>
                <button class="js-delete btn btn-danger btn-xs">
                    <i class="glyphicon glyphicon-remove"></i> Delete
                </button>
            </td>
        </script>

        <script type="text/template" id="missing-word-view">
            <h1>This word does not exist</h1>
        </script>

        <script type="text/template" id="word-list-none">
            <td colspan="4">No words to display</td>
        </script>


        <script type="text/template" id="words-form">
            <form class="form" role="form">
                <div class="form-group">
                    <label for="edit-word">Word</label>
                    <input type="text" class="form-control" id="edit-word" name="word" value="<%= word %>">
                </div>
                <div class="form-group">
                    <label for="edit-translation">Translation</label>
                    <input type="text" class="form-control" id="edit-translation" name="translation" value="<%= translation %>">
                </div>
                <div class="form-group">
                    <button type="submit" class="js-submit btn btn-primary">Save</button>
                </div>
            </form>
        </script>

        <script type="text/template" id="words-list-newword">
            <h4 class="content-subhead">Add a new word</h4>

            <form class="form-horizontal" role="form">

                <div class="row form-group">
                    <div class="col-xs-4 newword-left">
                        <input type="text" class="form-control" id="create-word" name="word" placeholder="Word">
                    </div>
                    <div class="col-xs-4 newword-right">
                        <input type="text" class="form-control" id="create-translation" name="translation" placeholder="Translation">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                        <button type="submit" class="js-addnewword btn btn-primary">Add Word</button>
                    </div>
                </div>
            </form>
        </script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/vendor.js -->
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="bower_components/json2/json2.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/backbone.syphon/lib/backbone.syphon.js"></script>
        <script src="bower_components/backbone.localstorage/backbone.localStorage.js"></script>
        <script src="bower_components/marionette/lib/backbone.marionette.js"></script>
        <script src="scripts/vendor/oauth.js"></script>
        <script src="bower_components/spin.js/spin.js"></script>
        <script src="bower_components/spin.js/jquery.spin.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/main.js -->
        <script src="scripts/config/marionette/regions/dialog.js"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/config/storage/localstorage.js"></script>
        <script src="scripts/entities/common.js"></script>
        <script src="scripts/entities/word.js"></script>
        <script src="scripts/common/views.js"></script>
        <script src="scripts/apps/words/words_app.js"></script>
        <script src="scripts/apps/words/common/views.js"></script>
        <script src="scripts/apps/words/list/list_view.js"></script>
        <script src="scripts/apps/words/list/list_controller.js"></script>
        <script src="scripts/apps/words/edit/edit_view.js"></script>
        <script src="scripts/apps/words/edit/edit_controller.js"></script>
        <!-- endbuild -->

        <script type="text/javascript">App.start();</script>
</body>
</html>
